@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
  nav ul li:hover {
    @apply cursor-pointer;
  }
  table {
    @apply max-w-full w-full border-collapse;
  }
  table thead {
    @apply bg-gray-200;
  }
  table th {
    @apply p-2 text-left;
  }
  table tr {
    @apply border-b border-gray-300 text-[12px];
  }
  table tr td {
    @apply p-2 text-[12px];
  }
  .list-content {
    @apply flex justify-between items-center mb-10;
    h2 {
      @apply text-lg font-bold;
    }
  }
  .toggle-menu {
    @apply md:hidden;
    span {
      @apply w-[2rem] h-[.2rem] bg-gray-800 block rounded-full  transition-all;
    }
    span:nth-child(2) {
      @apply my-1;
    }
  }
  .toggle-menu.open {
    span:first-child {
      @apply rotate-[225deg] translate-y-2 transition-all;
    }
    span:nth-child(2) {
      @apply opacity-0;
    }
    span:last-child {
      @apply rotate-[-225deg] -translate-y-[.4rem] transition-all;
    }
  }
  .table-freeze {
    @apply max-w-[1550px] max-h-[500px] overflow-auto;
    table {
      @apply border-collapse min-w-max z-10 relative w-full;
      thead {
        @apply sticky top-0 w-max z-50 min-h-max;
      }
      tr th {
        @apply w-[10rem] top-0 z-10 bg-gray-300;
      }
      tr td:first-child,
      th:first-child {
        @apply sticky w-[3rem] left-0 z-[2];
      }
      tr td:nth-child(2),
      th:nth-child(2) {
        @apply sticky w-[10rem] left-[48px] z-[3];
      }
      tr td:nth-child(3),
      th:nth-child(3) {
        @apply sticky w-[10rem] left-[208px] z-[4];
      }
      tr td:nth-child(4),
      th:nth-child(4) {
        @apply sticky w-[10rem] left-[368px] z-[5];
      }
      tr td:first-child {
        @apply sticky w-max left-0 z-[2] bg-yellow-500;
      }
      tr td:nth-child(2) {
        @apply sticky w-max left-[48px] z-[3] bg-yellow-500;
      }
      tr td:nth-child(3) {
        @apply sticky w-max left-[208px] z-[4] bg-yellow-500;
      }
      tr td:nth-child(4) {
        @apply sticky w-max left-[368px] z-[5] bg-yellow-500;
      }
      /* tr td:first-child,
      tr td:nth-child(2),
      tr td:nth-child(3),
      tr td:nth-child(4) {
        @apply sticky left-0  bg-yellow-400 top-0 w-max z-50 min-h-max;
      } */
    }
  }
}

@layer components {
  header {
    @apply relative border-b-2 border-[#1c74e9] px-5 py-2 flex justify-between items-center;
    .avatar {
      @apply w-[40px] h-[40px] bg-[#1c74e9] rounded-full grid 
      place-content-center text-white border-[1px] border-transparent hover:cursor-pointer;
    }
    .avatar-details {
      @apply bg-white shadow-2xl absolute  right-10 bottom-[-13rem]
      rounded-md z-[100];
      .avatar-banner {
        .avatar-img {
          @apply min-h-[60px] bg-blue-400 rounded-tl-md rounded-tr-md flex items-center justify-center;
          figure {
            @apply text-white text-[2rem] bg-gray-400 w-fit p-3 rounded-full 
            border-[1px] border-white translate-y-7;
          }
        }
      }
      .avatar-name {
        @apply flex flex-col mt-8 p-2;
        p {
          @apply text-xs;
        }
        p:first-child {
          @apply font-semibold text-center justify-center;
        }
        p:last-child {
          @apply flex items-center gap-2 justify-between;
        }
      }
      .avatar-actions {
        @apply p-2 flex flex-col;
        button {
          @apply flex text-xs items-center gap-2 py-2 border-t-[1px] border-gray-200;
        }
      }
    }
  }

  .tooltip {
    @apply relative;
  }
  .tooltip::after {
    @apply content-[attr(data-tooltip)] absolute bottom-full left-0 bg-black/40 text-white text-xs hidden p-1;
  }
  .tooltip:hover::after {
    @apply block;
  }
  .input-wrapper {
    @apply mb-2 relative;
  }
  label {
    @apply block text-xs text-accent;
  }
  label.error-show {
    @apply text-red-400;
  }
  input {
    @apply p-2 border border-gray-500 rounded-lg w-full;
  }
  input.error-show {
    @apply border-red-400;
  }
  small {
    @apply absolute top-0 right-0 text-[10px] text-red-400 italic;
  }
  nav ul li {
    @apply text-sm pl-2 border-l;
  }
  .submenu ul li {
    @apply text-xs border-l-2  hover:border-[#1c74e9];
  }
  .input-wrapper {
    @apply relative;
  }
  .input-wrapper span {
    @apply absolute top-0 right-1 text-red-500 text-xs;
  }
  .table-header h2 {
    @apply text-sm;
  }
  .modal {
    @apply h-full flex flex-col max-w-[400px] w-full p-5
     bg-white;
    .modal-title {
      @apply flex justify-between items-center mb-5;
    }
    .modal-title h3 {
      @apply text-sm font-semibold;
    }
    .modal-content {
      @apply overflow-y-auto bg-white flex flex-col justify-between
      h-full;
    }
    .modal-form {
      @apply flex flex-col justify-between;
    }
    .form-action {
      @apply z-[999] bg-white;
      .form-btn {
        @apply flex gap-2;
      }
    }
  }

  /* flex flex-col justify-between */

  .btn-save {
    @apply inline-block px-5 py-2 rounded-sm w-full text-xs bg-[#1c74e9] text-white;
  }
  .btn-discard {
    @apply inline-block px-5 py-2 rounded-sm w-full text-xs bg-gray-200 text-gray-900;
  }
  .btn-add {
    @apply text-[12px] flex items-center gap-1 py-2 px-4 bg-[#1c74e9] text-white rounded-md;
  }
}
